.main {
    width: 575px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 80px;
    height: 240px;
    border-radius: 32px;
    background-color: #1B2029;
}

.appTitle {
    font-size: 40px;
}

.divider {
    border: none;
    border-top: 1px solid #272d3a;
    margin: 40px 0;
}

.subtitle{
    font-size: 23px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 24px;
    margin-bottom: 80px;
}

.resetButton{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}