@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing:  border-box;
    margin: 0;
}

body {
    background-color: #1d222c;
    color: #fff;
    font-family: 'GMarketSanas';
    font-weight: 500;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font: inherit;
}